doctype
html.no-js
  head
    meta(charset='utf-8')
    title App Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body

    h1 Ready?

    script(src="scripts/app.js")
